<div id="content"> 
<div class="container-flow">
  <div class="row">
    <div class="col-sm-1">
      1 width
    </div>
    <div class="col-sm-9">

          
              

      </div>
    
      
    <div class="col-sm-2">
      <div id="relative-links">
     Add related links
     <ul>
       <li><a href="https://stackoverflow.com/questions/52607924/have-a-new-project-but-when-ng-serve-i-get-error">stack oveflow</a></li>
       <li><a href="https://stackoverflow.com/questions/52607924/have-a-new-project-but-when-ng-serve-i-get-error">stack oveflow</a></li>
       <li><a href="https://stackoverflow.com/questions/52607924/have-a-new-project-but-when-ng-serve-i-get-error">stack oveflow</a></li>
     
      </ul>
    </div>
    </div>
  </div>
</div>
</div>