<div id="content"> 
<div class="container-flow">
  <div class="row">
    <div class="col-sm-1">
      1 width
    </div>
    <div class="col-sm-9">
      <div id="main-content">
     <div class="Ask">
      <form action="#">
        <label>Ask question:<input type="text" name="question" size="70" ></label><br>
        <input type="submit" class="btn btn-success" value="Ask">
      </form>
    </div>
      <div class="questions">
        
           <label>Question:<p>Angular 6 looks for angular.json instead of angular-cli.json.

            You need to update your @angular/cli. Adding to the above answer
            
            I did update all the package with the following commands and updated all dependencies too. So as to remove all compatibility issues with other packages.
            
            If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.
          </p>
           </label>
           <br>
           <p class="answer">If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.</p>        
           <p class="answer">If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.</p>        
           <p class="answer">If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.</p>        
           <form action="#">
           <label>Add comment: <input type="text" name="comment" size="50"></label> 
           <input type="submit" class="btn btn-info" value="Add">
          </form>
          </div>
          <div class="questions">
        
              <label>Question:<p>Angular 6 looks for angular.json instead of angular-cli.json.
   
               You need to update your @angular/cli. Adding to the above answer
               
               I did update all the package with the following commands and updated all dependencies too. So as to remove all compatibility issues with other packages.
               
               If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.
             </p>
              </label>
              <br>
              <p class="answer">If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.</p>        
              <p class="answer">If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.</p>        
              <p class="answer">If you are starting your app or demo app, follow this procedure. Be extra careful if you are doing this for production app.</p>        
              <form action="#">
              <label>Add comment: <input type="text" name="comment" size="50"></label> 
              <input type="submit" class="btn btn-info" value="Add">
             </form>
             
             </div>
            </div>
    </div>
    <div class="col-sm-2">
      <div id="relative-links">
     Add related links
     <ul>
       <li><a href="https://stackoverflow.com/questions/52607924/have-a-new-project-but-when-ng-serve-i-get-error">stack oveflow</a></li>
       <li><a href="https://stackoverflow.com/questions/52607924/have-a-new-project-but-when-ng-serve-i-get-error">stack oveflow</a></li>
       <li><a href="https://stackoverflow.com/questions/52607924/have-a-new-project-but-when-ng-serve-i-get-error">stack oveflow</a></li>
     
      </ul>
    </div>
    </div>
  </div>
</div>
</div>